extends ../_shared/root-layout

block head
	link(rel = 'stylesheet', href = '/library/css/library.css')

block body
	if collection == null
		h1 Library
	else
		h1= collection.title

	p.subtitle
		i.fa.fa-folder.text-highlighted
		| &nbsp;&nbsp;
		a(href = '/library/')= 'Home'
		each breadcrumb in breadcrumbs
			| &nbsp;&nbsp;
			i.fa.fa-angle-right.text-highlighted
			| &nbsp;&nbsp;
			a(href = '/library/' + breadcrumb._id)= breadcrumb.title

	div.row
		each collection in child_collections
			div.col-md-3.collection
				a(href = '/library/' + collection._id)
					+coverImage(collection.meta.cover_image)
					p.item-or-collection-image-label= collection.title

	div.row
		each item in child_items
			div.col-md-3.item
				a(href = '/items/' + item._id)
					+coverImage(item.meta.cover_image)
					p.item-or-collection-image-label= item.title

	if (child_collections.length == 0 && child_items.length == 0)
		div.row: div.col-md-12.alert.alert-info
			p #[strong Sorry], this collection is empty!
			p: a(href = 'javascript: window.history.back();').btn.btn-info
				i.fa.fa-reply
				| &nbsp;&nbsp;
				| Go back