extends ../_shared/root-layout

block head
	link(rel = 'stylesheet', href = '/collections/css/collections.css')

block body
	if collection == null
		h1 Library
	else
		h1= collection.title

	p.subtitle
		//- root
		i.fa.fa-folder.text-highlighted
		| &nbsp;&nbsp;
		a(href = '/collections')= 'Home'

		//- breadcrumb chain
		each breadcrumb in breadcrumbs
			| &nbsp;&nbsp;
			i.fa.fa-angle-right.text-highlighted
			| &nbsp;&nbsp;
			a(href = '/collections/' + breadcrumb._id)= breadcrumb.title

		//- last link icons
		if collection != null
			| &nbsp;&nbsp;
			a(href = '/collections/edit/' + collection._id)
				i.fa.fa-pencil.text-very-muted
			| &nbsp;&nbsp;
			a(href = '/collections/delete/' + collection._id).confirm-delete
				i.fa.fa-trash-o.text-very-muted

	div.row
		each collection in child_collections
			div.col-md-3.collection
				a(href = '/collections/' + collection._id)
					+coverImage(collection.meta.cover_image)
					p.item-or-collection-image-label= collection.title

		//- plus icon for root only
		if collection == null
			div.col-md-3.collection
				a(href = '/collections/edit')
					+coverImage(null, {class: 'plus'})

	div.row
		each item in child_items
			div.col-md-3.item
				a(href = '/items/' + item._id)
					+coverImage(item.meta.cover_image)
					p.item-or-collection-image-label= item.title

	if child_collections.length == 0 && child_items.length == 0
		div.row: div.col-md-12
			p.text-center #[strong Sorry], this collection is empty!

block scripts
	+plugin_bootbox
	script(src = '/_shared/js/confirm-delete.js')