extends ../_shared/root-layout

block head
	link(rel = 'stylesheet', href = '/collections/css/collections.css')

block body
	- var i = 0;
	- var imgs = ['http://sidds.supplies/g/200/200', 'http://manoj.management/g/200/200', 'http://placekitty.artisan.io/g/200/200'];

	if collection == null
		h1 Collections
	else
		h1= collection.title

	p.subtitle
		i.fa.fa-folder.text-highlighted
		| &nbsp;&nbsp;
		a(href = '/collections/')= 'Home'
		each breadcrumb in breadcrumbs
			| &nbsp;&nbsp;
			i.fa.fa-angle-right.text-highlighted
			| &nbsp;&nbsp;
			a(href = '/collections/' + breadcrumb._id)= breadcrumb.title

	div.row
		each collection in child_collections
			div.col-md-3.collection
				a(href = '/collections/' + collection._id)
					img(src = imgs[++i % imgs.length])

				a(href = '/collections/' + collection._id)
					p= collection.title

	div.row
		each item in child_items
			div.col-md-3.item
				a(href = '/items/' + item._id)
					img(src = imgs[++i % imgs.length])

				a(href = '/items/' + item._id)
					p= item.title