extends ../_shared/root-layout

block head
	link(rel = 'stylesheet', href = '/collections/css/collections.css')

block body
	if collection == null
		h1 Library
	else
		h1= collection.title

	p.subtitle
		i.fa.fa-folder.text-highlighted
		| &nbsp;&nbsp;
		a(href = '/collections/')= 'Home'
		each breadcrumb in breadcrumbs
			| &nbsp;&nbsp;
			i.fa.fa-angle-right.text-highlighted
			| &nbsp;&nbsp;
			a(href = '/collections/' + breadcrumb._id)= breadcrumb.title

	div.row
		each collection in child_collections
			div.col-md-3.collection
				a(href = '/collections/' + collection._id)
					+coverImage(collection.meta.cover_image)
					p.item-or-collection-image-label= collection.title

	div.row
		each item in child_items
			div.col-md-3.item
				a(href = '/items/' + item._id)
					+coverImage(collection.meta.cover_image)
					p.item-or-collection-image-label= item.title